/* .jumbotron{
    padding-right: 60px;
    padding-left: 60px;
} */

/* .container{
    width: 1170px;
} */


select{
background-color: rgb(248, 248, 248);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(166, 166, 166);
  border-image: initial;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}